/* Write some CSS below */

body{
    text-align: center;
    color: white;
    background-color:black ;
    font-family:"Tinos", serif;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

h1 {
    font-family:"Arimo", sans-serif;
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 700;
    color: white;
}


.card-orange {
    background-color: #CD770B;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) ;
    margin: 25px;
    padding: 40px;
    text-align: center;
    list-style: center;
}





h2 {
    font-family:"Arimo", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: white;
}



h3 {
font-family:"Tinos", serif;
letter-spacing: 2px;
font-size: 15px;
letter-spacing: 5px;
font-weight: 400;
color: white;
text-align: center;
}

h4 {
    font-family:"Tinos", serif;
    letter-spacing: 2px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
    color: white;
    }

.banner{
    background-image: url(images/nocta-cover.jpg);
    background-position: center;
    background-size: cover;
    margin: O;
    padding: Opx 0;
    text-align: center;
    font-size: 25px;
}

.banner-container{
    width: 800px;
    margin: 20px auto;
    padding-bottom: 600px;
}


.btn-white{
    background-color:white;
    color: black;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
}

.btn-white:hover {
    background-color:#CD770B ;
    color: white;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;   
}

a {
    text-decoration: none;
}

.container{
    margin: 20px auto;
    width: 900px;
}
 
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.card-orange{
    box-shadow: 0 0 19px rgba(0,0,0, 0.1);
    border-radius: 4px;
    padding: 15px;
}
 
.section-black{
    background:black;
    color: white;
 
}
 
.card-orange img{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
 
    transition: 0.5s;
    display: inline-block;
}
 
.card-orange img:hover {
    transform: scale(1.5);}

.footer{
    background-color:#CD770B;
    color: white;
    padding: 5px 0;
    margin: 0 0 0 0;
    text-size-adjust: 16px;
}

.list-inline{
    list-style: none;
    padding-left: 100;
    text-align: center;
}


.list-inline li {
    display: inline;
}
 
.list-inline li i {
    font-size: 30px;
    color: white;
    margin: 20px;
    text-align: left;
}

.list-inline li i:hover{
    opacity: 0.7;
}

.card-black {
    position:initial;
    padding: 40px;
    width: 100px;
    height: 250px;
}

.card-black img {
    width: 100%;
    height: 200px;
    transition: 0.3s;
    object-fit:contain;
}
 
.card-black img:hover {
    transform: scale(1.1);
}